<?xml version="1.0"?>

<configuration>
  <location path="Manage.aspx">


    <system.web>
      <authentication mode="Forms" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    
    <!--<system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>-->

    <connectionStrings>
      <add name ="webAppconnString"
           connectionString="Server=MYSQL5002.Smarterasp.net;Uid=9bad3d_test;Password=math4fun#;Database=db_9bad3d_test;"
           providerName="Math Fun 1000"/>
    </connectionStrings>
    
  </location>
</configuration>
